*.pyc
*.gif
*.tif
*.tif.filepart
*.png
*.png.filepart
*.jpeg
*.jpeg.filepart
*.jpg
*.jpg.filepart
*.JPG
*.JPG.filepart
*.bmp
*.bmp.filepart
*.h5
*.hdf5
*.img
*.pkl
*.html
*.npy
*.npz
*.json
vess2retEnv/
